<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Shipping</title>
    <!-- plugins:css -->
    <link href="~/vendors/mdi/css/materialdesignicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/vendor">
    <link rel="stylesheet" href="~/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link href="~/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.2/css/dataTables.dataTables.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/3.0.1/css/buttons.dataTables.css>"
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/css/style.css">
    @RenderSection("Styles", required: false)

    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/images/favicon.png"/>
  </head>
  <body class="rtl">
    <div class="container-scroller">
      <!-- navbar starts here -->
      <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
         <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <h4 class="font-weight-bold mb-6" style="color: #b66dff; font-style: italic;">SHIPPING SYSTEM</h4>

         @*   <a class="navbar-brand brand-logo" href="../../index.html"><img src="~/images/logo.svg" alt="logo" /></a> 
        <a class="navbar-brand brand-logo-mini" href="../../index.html"><img src="~/images/logo-mini.svg" alt="logo" /></a>  *@
        </div> 
        <div class="navbar-menu-wrapper d-flex align-items-stretch">
          <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
            <span class="mdi mdi-menu"></span>
          </button>
          <div class="search-field d-none d-md-block">
            <form class="d-flex align-items-center h-100" action="#">
              <div class="input-group">
                <div class="input-group-prepend bg-transparent">
                  <i class="input-group-text border-0 mdi mdi-magnify"></i>
                </div>
                <input type="text" class="form-control bg-transparent border-0" placeholder=" البحث">
              </div>
            </form>
          </div>
          <ul class="navbar-nav navbar-nav-right pe-0">
            <li class="nav-item nav-profile dropdown">
              <a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <div class="nav-profile-img">
                  <img src="~/images/pio.jpg" alt="image">
                  
                </div>
                <div class="nav-profile-text">
                                @if (Context.Session.GetInt32("id") != null)
                                {
                        <class ="mb-1 text-black" href="/Account/Login">@Context.Session.GetString("UserName")</class>
                                }
                                else
                                {

                       <class ="mb-1 text-black " href="/Account/Login">Login</class>
                                }  
                 @*   <p class="mb-1 text-black">User</p>  *@
                </div>
              </a>
              <div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
                <a class="dropdown-item" href="#">
               
                <div class="dropdown-divider"></div>
                <a asp-action="LogOut" asp-controller="Account" class="dropdown-item" >
                  <i class="mdi mdi-logout me-2 text-primary"></i> خروج </a>
              </div>
            </li>
            <li class="nav-item d-none d-lg-block full-screen-link">
              <a class="nav-link">
                <i class="mdi mdi-fullscreen" id="fullscreen-button"></i>
              </a>
            </li>
          
            
            
               
            </li>
           
        
           
          </ul>
          @* <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas"> *@
          
        </div>
      </nav>
      <!-- ends here -->
       <div class="container-fluid page-body-wrapper">
            @* <div class="right-sidebar-toggler-wrapper">
                <div class="sidebar-toggler" id="settings-trigger"><i class="mdi mdi-palette"></i></div>
                <div class="sidebar-toggler" id="layout-toggler"><i class="mdi mdi-settings"></i></div>
                <div class="sidebar-toggler" id="chat-toggler"><i class="mdi mdi-chat-processing"></i></div>
                <div class="sidebar-toggler"><a href="https://www.bootstrapdash.com/demo/majestic-admin-pro/docs/documentation.html" target="_blank"><i class="mdi mdi-file-document-outline"></i></a></div>
                <div class="sidebar-toggler"><a href="https://www.bootstrapdash.com/product/majestic-admin-pro/" target="_blank"><i class="mdi mdi-cart"></i></a></div>
            </div> *@
            <div class="theme-setting-wrapper">
                <div id="theme-settings" class="settings-panel">
                    <i class="settings-close mdi mdi-close"></i>
                    <p class="settings-heading">SIDEBAR SKINS</p>
                    <div class="sidebar-bg-options selected" id="sidebar-light-theme">
                        <div class="img-ss rounded-circle bg-light border me-3"></div>Light
                    </div>
                    <div class="sidebar-bg-options" id="sidebar-dark-theme">
                        <div class="img-ss rounded-circle bg-dark border me-3"></div>Dark
                    </div>





           
          </div>
        </div>
        <div id="theme-settings" class="settings-panel">
          <i class="settings-close mdi mdi-close"></i>
          <p class="settings-heading">جلود جانبية</p>
          <div class="sidebar-bg-options selected" id="sidebar-default-theme">
            <div class="img-ss rounded-circle bg-light border me-3"></div>افتراضي
          </div>
          <div class="sidebar-bg-options" id="sidebar-dark-theme">
            <div class="img-ss rounded-circle bg-dark border me-3"></div>داكن
          </div>
          <p class="settings-heading mt-2">جلد الرأس</p>
          <div class="color-tiles mx-0 px-4">
            <div class="tiles primary"></div>
            <div class="tiles success"></div>
            <div class="tiles warning"></div>
            <div class="tiles danger"></div>
            <div class="tiles info"></div>
            <div class="tiles dark"></div>
            <div class="tiles default light"></div>
          </div>
        </div>
        <!-- ends here -->
        <!-- sidebar starts here -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item nav-profile">
              <a href="#" class="nav-link">
                <div class="nav-profile-image">
                  <img src="~/images/pio.jpg" alt="profile">
                 
                  <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                       @if (Context.Session.GetInt32("id") != null)
                                {
                        <class ="mb-1 text-black" href="/Account/Login">@Context.Session.GetString("UserName")</class>
                                }
                                else
                                {
                  <h4 class="font-weight-bold mb-2">User</h4>
                                }
                               @*  <span class="font-weight-bold mb-2">User</span> *@
                </div>
                @* <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i> *@
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">الصفحة الرئيسية</span>
                <i class="mdi mdi-home menu-icon"></i>
              </a>
            </li>

                    <li  class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Employee">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">الموظفين</span>
                            <i class="mdi mdi-account-group menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Trader">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">التجار</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Representative">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">المناديب</span>
                            <i class="mdi mdi-home menu-icon"></i>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Governate">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">المحافظات</span>
                            <i class="mdi mdi-account-group menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="City">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">المدن</span>
                            <i class="mdi mdi-account-group menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Branch">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">الفروع</span>
                            <i class="mdi mdi-account-group menu-icon"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">الاعدادات</span>
                            <i class="menu-arrow"></i>
                            <i class="mdi mdi-apps menu-icon"></i>
                        </a>
                        <div class="collapse" id="page-layouts">
                            <ul class="nav flex-column sub-menu">
                                <li class="nav-item"> <a style="font-size:18px;font-weight:bolder; color:#b66dff;" class="nav-link" asp-action="Index" asp-controller="ShippingSetting">اعدادات الشحن</a></li>
                                <li class="nav-item"> <a style="font-size:18px;font-weight:bolder; color:#b66dff;" class="nav-link" asp-action="Update" asp-controller="WeightSettings">اعدادات الوزن</a></li>
                                <li class="nav-item"> <a style="font-size:18px;font-weight:bolder; color:#b66dff;" class="nav-link" asp-action="Update" asp-controller="VillageSetting">اعدادات القري</a></li>
                            </ul>
                        </div>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" asp-action="Index" asp-controller="Roles">
                            <span style="font-size:25px;font-weight:bolder; color:#b66dff;" class="menu-title">الصلاحيات</span>
                            <i class="mdi mdi-account-group menu-icon"></i>
                        </a>
                    </li>
                    
                </ul>
        </nav>
        <!-- ends here -->
        <div class="main-panel">
          <div class="content-wrapper">
                    @RenderBody();
              </div>
            </div>
          <!-- ends here -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/vendors/chart.js/Chart.min.js"></script>
    <script src="~/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/js/off-canvas.js"></script>
    <script src="~/js/hoverable-collapse.js"></script>
    <script src="~/js/misc.js"></script>
    <script src="~/js/settings.js"></script>
    <script src="~/js/todolist.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/js/dashboard.js"></script>
    @RenderSection("Scripts", required: false)

    @await Component.InvokeAsync("NToastNotify")

    <!-- End custom js for this page -->
  </body>
</html>